* {
  margin: 0px;
}
body {
  background-color: #ffcc00;
  background-image: url(madera.jpg);
  background-position:  center center;
}
#contenedor {
  margin-top: 0px;
  width: 950px;
  background-color: #ffffcc;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
#cancha {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 880px;
  background-repeat: no-repeat;
}
#juego {
  margin: auto;
  height: 100%;
  background-image: url(transp2.png);
}
#nenes {
  position: absolute;
  top: 485px;
}
#animal {
  position: absolute;
  left: 150px;
  bottom: 50px;
}
#animal h3 {
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
}
#habla {
  position: absolute;
  height: 338px;
  background-position:  center center;
  width: 400px;
  background-image: url(habla.png);
  background-repeat: no-repeat;
  top: 60px;
  right: 51px;
  text-align: center;
}
#habla p {
  margin-top: 56px;
  width: 300px;
  margin-left: 50px;
  text-align: center;
  font-style: oblique;
  font-size: 1.3em;
  color: #663333;
  font-weight: bolder;
}
#contenedor h1, #contenedor h2 {
  text-align: center;
}
#epigrafe {
  text-align: right;
  position: absolute;
  bottom: 25px;
  font-style: italic;
  right: 55px;
}
